<!-- Jiaying Song
301172953 -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"> <%= title %> Me:</h1>
      <div style="width: 100%; overflow: hidden;">
        <div style="display: table-row;">
            <div>
                <img src="\Assets\images\welcome.jpg" alt="Welcome" style="height:400px;">
              </div>
            </div>
            <div style="display: table-row;">
              <p class="text-center">
                <a href="\Assets\JiayingSong_RESUME.pdf">
                  Click here to view/download PDF Resume.
                </a>
              </p>
            </div>
        </div>
            </div>
          <div style="width: 500px; display: table-cell; vertical-align: top;">
            <div>
              <h2>Jiaying Song</h2>
          </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>