<!-- Jiaying Song
301172953 -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page.</h1>
      <div style="width: 100%; overflow: hidden;">
        <div style="display: table-row;">
          <div style="width: 500px; display: table-cell; vertical-align: top;">
            <div>
              <p>
                <h5>Hello and welcome.</h5>
              </p>
              <p>
                <h7>
                  My name is Jiaying Song. I own a master's degree in Electrical and Computer Engineering.
                  <br />
                    Currently, I am a full time student majoring in Software Engineering Technology at Centennial College.
                   
                </h7>
              </p>
            </div>
          </div>
          <div>
            <ul>
              <li><a href="about">
                About Me<br />
              </a>
                <h8>Read a little about me, Jiaying Song.</h8>
              </li>
              <li><a href="projects">
                Projects<br />
              </a>
                <h8>Some projects I have worked on before</h8>
              </li>
              <li><a href="services">
                Services<br />
              </a>
                <h8>See services I provide now.</h8>
              </li>
              <li><a href="contact">
                Contact Me<br />
              </a>
                <h8>Please feel free to contact me.</h8>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>