<!-- Jiaying Song
301172953 -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %> Offered:</h1>
      <div>
        <h3>Current Services:</h3>
        <ul><h5>
          <li>
            <i class="fa-solid fa-microchip"></i> ASIC Circuit Design
          </li>
          <li>
            <i class="fa-solid fa-microchip-ai"></i> FPGA Design
          </li>
          <li>
            <i class="fa-solid fa-tachograph-digital"></i> Design and Verification
          </li>
          <li>
            <i class="fa-solid fa-laptop"></i> Web Development
          </li>
        </h5></ul>
      </div>
      <div>
        <h3>Coming Soon!</h3>
        <ul><h5>
          <li>
            <i class="fa-solid fa-users-gear"></i> Hardware & Software Consultant
          </li>
        </h5></ul>
      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>